.subtitle {
  color: #dddddd;
  font-size: 1.5em;
}
.title {
  color: #ffffff;
  font-size: 2em;
}
.trip-form > .labelfield {
  color: #666666;
}
body {
  background-color: #f2f2f2;
}
.header {
  align-items: center;
  background-color: #3366cc;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 10em;
  padding: 1em 0 0 0;
  width: 100%;
}
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 2em 0;
}
